body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

body,
canvas {
   margin: 0;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


button {
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
   background: #141414;
   padding: 10px 15px;
   font-size: 16px;
   text-transform: uppercase;
   letter-spacing: 2px;
   cursor: pointer;
   outline: 0;
   position: absolute;
   top:30px;
   right: 30px;
}


/********************
/ THE SONG
********************/
.cover {
   position: absolute;
   left: 30px;
   top: 30px;
   width: 100px;
   cursor: crosshair;
}

.title {
   font-size: 40px;
   color: #141414;
}

.link {
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 14px;
   padding: 5px 10px;
   background: #141414;
}

input[type=range] {
  height: 27px;
  -webkit-appearance: none;
  margin: 10px 0 0 0;
  width: 100%;
  background: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #F4F4F4;
  border-radius: 8px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 2px #BABABA;
  border: 0px solid #FFFFFF;
  height: 15px;
  width: 15px;
  border-radius: 48px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #F4F4F4;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #F4F4F4;
  border-radius: 8px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 2px #BABABA;
  border: 0px solid #FFFFFF;
  height: 10px;
  width: 10px;
  border-radius: 48px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #F4F4F4;
  border: 0px solid #000000;
  border-radius: 16px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #F4F4F4;
  border: 0px solid #000000;
  border-radius: 16px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 0;
  box-shadow: 1px 1px 2px #BABABA;
  border: 0px solid #FFFFFF;
  height: 10px;
  width: 10px;
  border-radius: 48px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #F4F4F4;
}
input[type=range]:focus::-ms-fill-upper {
  background: #F4F4F4;
}


/********************
/ THE PLAYGROUND
********************/
.container-slider {
	position: absolute;
	right: 30px;
	padding: 25px 40px;
	background-color: #141414;
	top: 80px;
}


.slider-title {
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 2px;
	font-weight: 400;
	margin: 0;
}


.slider:first-of-type {
	margin: 10px 0 30px 0;
}
